

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

.dynamic {
  max-width: 80%;
  margin: 10px auto 0;
}

// filter by watched/unwatched links
ul {
	list-style: none;
}
li {
    color: black;
    margin: 0 5px 15px !important;
}

//nav bar styling fixes
#search-field {
  margin-top: 8px;
}
.alert {
  margin-top: 8px;
}
#logout-button > a {
  padding-top: 20px;
}
nav.navbar {
	border-radius: none;
}


#template-container > .col-sm-4 {
  text-align: center;
}

.img {
  box-shadow: 0px 0px 8px 0px rgba(68,68,68,1);
  position: relative;
  border-radius: 4px;
  z-index: 100;
  width: 200px;
  height: 300px;
}

// add and watched buttons
.add-movie-to-collection, .watched {
  -webkit-appearance: none;
  outline: 0;
  background-color: #53e3a6;
  border: 0;
  padding: 10px 15px;
  color: white;
  border-radius: 3px;
  width: 150px;
  // margin: 7px 0 25px 0;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.add-movie-to-collection:hover, .watched:hover {
  background-color: #f5f7f9;
}

.button-container-div {
  margin: 7px 0 25px 27px;
}

.rating-container-div {
  margin: 7px 0 25px 14px;
}


// login splash page
.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 475px;
  margin-top: -200px;
  overflow: hidden;
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
      -ms-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
  color: white;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  -webkit-appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
form button {
  -webkit-appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  margin-right: 4px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form button:hover {
  background-color: #f5f7f9;
}



// movie listing delete button
.col-sm-3 {
  text-align: center;
}

.x-icon { 
  font-family: Helvetica;
  font-weight: 900;
  color: lightgrey;
  font-size: 25px;
  text-decoration: none;
  position: absolute;
  margin-left: 55px;
  margin-top: 4px;
  position: absolute;
  top: 0px;
  z-index: 2;
}

#movie-box {
  position: relative;
  z-index: 1;
}

#movie-parent{
  position: relative;
  margin: 0 0 0 14%;
}

// movie image
.mvimg {
  width: 200px;
  height: 300px;
  border-radius: 4px;
}

