
<div class="col-sm-4">
	<div class="row">
		<img class="img" src="{{url}}" alt="poster img">
	</div>
	<div class="row">
		<button id="{{imdbid}}" poster="{{url}}" class="add-movie-to-collection">Add</button>
	</div>
</div>
